*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild

app/.idea/workspace.xml

app/.idea/vcs.xml

app/.idea/codeStyles/Project.xml

app/.idea/runConfigurations.xml

app/.idea/modules.xml

app/.idea/misc.xml

app/.idea/gradle.xml

app/local.properties
